---
import Layout from "../layouts/Layout.astro";
---

<Layout title="introduccion">
    <section >
        <header class="w-full h-auto pl-16 pt-8">
            <nav class="flex gap-3 items-center text-white font-bold">
                <img class="w-10" src="/logos/Azulejo.svg" alt="">
                <a href="/">Inicio</a>
            </nav>
        </header>
    </section>
</Layout>