---
import IntroLayout from "../../layouts/IntroLayout.astro";
import LogoWin from "../../../public/images/OsWindows.jpg"
---

<IntroLayout>
    <div class="flex justify-center">
        <div class="p-5 dark:bg-slate-900 rounded-xl max-w-4xl">
            <h1 class="text-white font-bold text-5xl">Introductorio Windows OS</h1>
            <small class="text-md">22/09/2023</small>
            <img src={ LogoWin.src } class="my-5 rounded-md">
            <hr class="border-slate-700 mb-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae vel laudantium aliquam debitis tenetur quaerat minima quae, maxime delectus at recusandae quos unde explicabo hic voluptatum. Suscipit, vitae iusto?</p>
        </div>
    </div>
</IntroLayout>