<header class="w-full h-auto pl-16 pt-8">
    <nav class="flex gap-3 items-center  font-semibold text-lg">
        <img class="w-10" src="/logos/Azulejo.svg" alt="">
        <a href="/" class="text-dark dark:text-white">Inicio</a>
    </nav>
</header>