<div class="text-center  mt-96 text-white">
    <h1 class="font-bold text-3xl">Uy, no se encontro la pagina!</h1>
    <em class="text-sm">Vuelva al <a href="/" class="text-sky-300">inicio</a> o asegurese de que la URL es la correcta.</em>
</div>

<style>
    body {
        background-color: #0A101D;
    }
</style>
