---
import Layout from "./Layout.astro";
import IntroNavBar from "../components/elements/IntroNavBar.astro";
---

<Layout>
    <IntroNavBar />
    <div class="px-16 py-4 w-full h-auto dark:text-white text-black items-center">
        
        <slot />
    </div>

</Layout>